body {
  margin: 0;
}

.nav {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  margin-right: 30px;
}
.menu li{
  border-bottom: 2px solid transparent;
}
.menu li:hover {
  border-bottom: 2px solid whitesmoke;
}
.menu a {
  color: inherit;
  text-decoration: none;
  padding: 3px 10px;
}
#nav ul {
  list-style: none;
}
.logo a {
  padding: 3px 10px;
  text-decoration: none;
  color: inherit;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif  
}
.nav li {
  margin-bottom: 8px;
  margin-left: 10px;
}

.middle {
  background: lightblue;
  padding: 20vh 0;
}
.slant {
  position: relative;
  width: 100%;
  padding: 20vh 0;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
  background-color: pink;
  margin-bottom: -10vw;
  /* transform: skewY(-8deg);
  transform-origin: left; */
}
.slant2 {
  position: relative;
  clip-path: polygon(0 0, 100% calc(+10vw), 100% 100% ,0 100%);
  width: 100%;
  padding: 20vh 0;
  background-color: pink;
  margin-top: -10vw;
  /* transform: skewY(8deg); */
  /* transform-origin: top left; */

}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  90% {
    transform: translateX(10%)
  }
  100% {
    transform: translateX(0);
  }
}
h1 {
  color: black;
  padding: 10px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 100;
  font-size: 4em;
  animation: 1s ease-in .5s 1 slideInFromLeft;
}

.h1 {
  text-decoration: none;
}
h3 {
  padding-top: 0;
  padding-bottom: 20px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
h2 {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

/* ******** typed.js ******** */
#typed-strings {
  display: none;
}
.typed-cursor {
  color: darkred;
  font-weight: 100;
}
.typed-cursor .typed-cursor--blink {
  animation: typedjsBlink .9s infinite;
}
/* ******** end typed.js ******** */